doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/layout.css')
  body
    p.small Layout template, rendered on the server, styled with an external stylesheet.
    block content
